  <h3 class="text-muted">Hero Squad App</h3>
<div class="jumbotron">
  <h2 class="display-3">About</h2>
  <p class="lead">The Hero Squad App allows you to recruit a well-balanced team of superheroes.</p>
  <br>
  <p><a href="/squads" class="btn btn-lg btn-danger">View Squad List</a></p>
  <p><a href="/squads/new" class="btn btn-lg btn-danger">Add a New Squad</a></p>
</div>