<script
      src="https://code.jquery.com/jquery-3.4.0.min.js"
      integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg="
      crossorigin="anonymous"></script>
<div class="view" style="background-image: url('https://wallpapertag.com/wallpaper/full/b/a/2/784583-gorgerous-marvel-heroes-wallpapers-2560x1600.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
<div class="jumbotron text-center">
<h1 class="h2-reponsive text-info animated wobble infinite">Success!</h1>
  <h2 class="h2-reponsive text-info"><strong > Your Squad has been saved !   </strong></h2>
    <a href="/squads" class="btn btn-outline-white ">View Squad List  <i class="fas fa-user-plus animate rotateIn infinite"></i></a>
</div>