




 <div class="view" style="background-image: url('https://images8.alphacoders.com/815/815404.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
<div class="jumbotron text-center">
<h1 class="h2-reponsive text-info animated wobble infinite">Success!</h1>
  <h2 class="h2-reponsive text-info animate fadeIn"><strong>Your Hero has been saved</strong></h2>
    <a  href="/heroes" type="submit" class="btn aqua-gradient text-white">Go Back</a>
</div>
